/* Estilos del terrario */
h1 {
    color:turquoise;
    text-align: center;
 }

 .container{
   background-color: #eee;
   width: 15%;
   height: 100%;
   position: absolute;
    border: 3px;
    border-style: dashed;
    border-color: teal;
    padding: 10px;
    top: 10px;
 }
 #left-container{
    
    
    
   left: 0px;
    
 }
 #right-container{
    
    
    
    right: 0px;
    
 }

 .plant-holder {
   position: relative;
   height: 13%;
   left: -10px
   border: 3px;
   border-style: dashed;
   border-color: teal;
 }

 .plant{
   position: absolute;
   max-width: 150%;
   max-height: 150%;
   z-index: 2;
 }